{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-7">
		<div class="row">
			<div class="col-md-12 text-center">
					<h3>{{ category.name }}
			</div>
		</div>
		<div class="row">
			{% if books !=[] %}
				<div class="row">
					<div class="col-md-12">
						{% for b in books %}
							<div class="col-md-12 book-card-title">
								<h3 class="text-center">{{b.title}}</h3>
							</div>
							<div class="col-md-12 book-card-body">
								<p class="h4 book-card-body-title"> Description:</p>
								<p>{{b.description}}</p>
							</div>
							<div class="col-md-12 book-card-footer">
								<div class="col-md-6 text-left">
									<p>Author: {{b.author}}</p>
								</div>
									<div class="col-md-6 text-right">
										<a href='{{url_for('editBook', category_id = category.id, book_id=b.id ) }}'>Edit</a> |
										<a href='{{url_for('deleteBook', category_id = category.id, book_id=b.id ) }}'>Delete</a>
									</div>
								</div>
							{% endfor %}
					</div>
				</div>
			{% else %}
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12 book-card-title">
						<h3 class="text-center">Please add a book</h3>
					</div>
					<div class="col-md-12 book-card-body">
						<h4 class="book-card-body-title"> Description:</h4>
						<p>There are no books in this category. Once you have added some, they will be displayed here.</p>
					</div>
					<div class="col-md-12 book-card-footer">
						<div class="col-md-6 text-left">
							<p></p>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-12 footer-buttons text-right">
				<a href="{{url_for('editCategory', category_id = category.id )}}">
					<button class="btn btn-success" id="edit-category">
						Edit Category
					</button>
				</a>
				<a href="{{url_for('newBook', category_id = category.id )}}">
					<button class="btn btn-success" id="new-item">
						Add Book
					</button>
				</a>
							<a href="{{url_for('deleteCategory', category_id = category.id )}}">
					<button class="btn btn-danger delete" id="delete-category">
						Delete Category
					</button>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 card">
		<div class = 'flash'>
							{% with messages = get_flashed_messages() %}
					{% if messages %}

						<ul>
						{% for message in messages %}
								<li> <strong> {{ message }} </strong> </li>
						{% endfor %}
						</ul>
						{% endif %}
				{% endwith %}

		</div>
		<div class="col-md-12 text-center creator-card-title">
			<p>Created by:</p>
		</div>
		<div class="col-md-12 creator-card-body">
			<div class="col-md-6 text-center">
				<p>{{creator.name}}:</p>
			</div>
			<div class="col-md-6 text-center">
				<img class="id-image" src="{{creator.picture}}">
			</div>
		</div>
	</div>
</div>




{% endblock %}
